*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #39a6b2;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

/* apply style to <header> */
header {
  padding: 20px 35px;
  background-color: #39a6b2;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  margin: 0;
  display: inline;
}
/* trying to adjust <h3> element to make it larger set margin to 0 reduce word wrapping*/
header h3 {
  margin: 0;
}

header a {
  text-decoration: none;
  color: #fce138;
}

header nav {
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

.contact-info {
    width: 30%;
  }

.developers {
    text-align: center;
}

.developer {
    width: 1000px;
    margin: 0 auto 30px auto;
    background: #024e76;
    color: #fce138;
    overflow: auto;
  }

  .developer img {
    width: 35%;
    float: left;
  }

  .developer-bio {
    padding: 35px;
    float: left;
    width: 65%;
  }

  .developer-bio h3 {
    font-size: 32px;
    margin-bottom: 8px;   
  }
  
  .developer-bio h4 {
    font-weight: lighter;
    font-size: 17px;
    margin-bottom: 25px;
  }
  
  .developer-bio p {
    font-size: 17px;
    line-height: 1.3;
  }

footer {
    background: #7b76ab;
    width: 100%;
    padding: 40px 35px;
}

footer a {
    color: #d5b98a;
}

footer h2 {
    display: inline;
    color:#d5b98a;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: auto;
    line-height: 1.3;
    text-align: center;
}

section {
    padding: 60px;
}

:root {
    --aquamarin: aquamarine;
    --black: #272727;
}